<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>722322459985-tno1i05mt7ph4movri0k9jnlnl75tott.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.722322459985-tno1i05mt7ph4movri0k9jnlnl75tott</string>
	<key>API_KEY</key>
	<string>AIzaSyCC_UoBOR1tWIomJBFHPRnbH0OE_9Wpalk</string>
	<key>GCM_SENDER_ID</key>
	<string>722322459985</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ibt.shopApp</string>
	<key>PROJECT_ID</key>
	<string>shopapp-859e8</string>
	<key>STORAGE_BUCKET</key>
	<string>shopapp-859e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:722322459985:ios:1208a2f13d2ed89ed29770</string>
	<key>DATABASE_URL</key>
	<string>https://shopapp-859e8.firebaseio.com</string>
</dict>
</plist>